<section class="hero-banner">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="row my-4 mb-md-5">
            <div class="col-sm-12">
                <h1 class="page-title" id="contentStart" tabindex="-1" translate>develop.title</h1>
                <p class="lead" *withLang="'en'">
                    Developers can now integrate OrgBook BC into their own applications with the OrgBook API.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-4 mt-md-5">
            <div class="col-lg-8" id="feedback">
                <h2 tabindex="-1" translate>OrgBook API</h2>
                <p>
                    Are you developing an application geared towards registered organizations in BC?
                </p>
                <p>
                    OrgBook BC has a REST API (the OrgBook API), allowing developers to integrate
                    publcily available, verifiable data about registered BC organizations into third-party
                    applications.
                </p>
                <p>
                    A GitHub <a href="https://github.com/bcgov/orgbook-api" target="_blank">repository</a> has been
                    created as a documentation source for the OrgBook API, along with guides for the most common
                    use cases of the API, including those that OrgBook BC implements.
                </p>
                <p>
                    Some of these use-cases include:
                </p>
                <ul>
                    <li>
                        Autocomplete-enabled organization name search
                    </li>
                    <li>
                        Organization data retrieval, in the form of verifiable credentials
                        (including registration number, business number, entity type, entity status, etc.)
                    </li>
                    <li>
                        Credential issuer search
                    </li>
                    <li>
                        Credential type search
                    </li>
                    <li>
                        Credential verification
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="card card-primary">
                  <div class="card-header">
                    <h2 class="h5 my-0" tabindex="-1" translate>general.links-title</h2>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="https://github.com/bcgov/orgbook-api" rel="external">OrgBook API on GitHub</a> <span class="small fa fa-external-link"></span>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</section>