<section class="hero-banner">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="row my-4 mb-md-5">
            <div class="col-sm-12">
                <h1 class="page-title" id="contentStart" tabindex="-1" translate>develop.title</h1>
                <p class="lead" *withLang="'en'">
                    TODO:
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-4 mt-md-5">
            <div class="col-lg-8" id="feedback">
                <h2 tabindex="-1" translate></h2>
                <p>TODO:</p>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="card card-primary">
                  <div class="card-header">
                    <h2 class="h5 my-0" tabindex="-1" translate>general.links-title</h2>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="https://github.com/bcgov/orgbook-api" rel="external">OrgBook API on GitHub</a> <span class="small fa fa-external-link"></span>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</section>