<section class="hero-banner">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="row my-4 mb-md-5">
            <div class="col-sm-12">
                <h1 class="page-title" id="contentStart" tabindex="-1" translate>develop.title</h1>
                <p class="lead" *withLang="'en'">
                    Developers can now integrate OrgBook BC into their own applications with the OrgBook API.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-4 mt-md-5">
            <div class="col-lg-8" id="feedback">
                <h2 tabindex="-1">OrgBook API</h2>
                <p>
                    Are you developing an application geared towards registered organizations in BC?
                </p>
                <p>
                    OrgBook BC has a REST API (the OrgBook API), allowing developers to integrate
                    publicly available, verifiable data about registered BC organizations into third-party
                    applications.
                </p>
                <p>
                    Documentation for the OrgBook API can be found in the
                    <a href="https://github.com/bcgov/orgbook-api" target="_blank">official</a> GitHub repository.
                    It contains a series of guides for implementing the most commonly used features of OrgBook, such as:
                </p>
                <ul>
                    <li>
                        An official BC organization name search with autocomplete
                    </li>
                    <li>
                        Retrieving and auto-populating form fields with organization info such as
                        registration number, business number, entity type, entity status, etc.
                    </li>
                    <li>
                        Searching for credential issuers
                    </li>
                    <li>
                        Searching for credential types
                    </li>
                    <li>
                        Verifying organization credentials
                    </li>
                </ul>
                <p>Feel free to check out the documentation, and contribute to them if you'd like.</p>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="card card-primary">
                  <div class="card-header">
                    <h2 class="h5 my-0" tabindex="-1" translate>general.links-title</h2>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="https://github.com/bcgov/orgbook-api" rel="external">OrgBook API on GitHub</a> <span class="small fa fa-external-link"></span>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</section>