# dependant indycat libraries
-e file:///C:/Developer/git-repos/esune/indy-catalyst/credential-registry/server/django-icat-api/
-e file:///C:/Developer/git-repos/esune/indy-catalyst/credential-registry/server/python-indy-api/

