<select [formControl]="select" class="inline-select form-control" id="inlineFormCustomSelect">
  <ng-container *ngIf="options">
    <option *ngFor="let option of options" [value]="option.value">
      <ng-container *ngIf="translateSelector; then selector; else noSelector"></ng-container>
      <ng-template #selector let-translateSelector>
        {{ (translateSelector + '.' + option.description) | translate }}
      </ng-template>
      <ng-template #noSelector>{{ option.description | translate }}</ng-template>
    </option>
  </ng-container>
</select>