@import '../common';
:host() {
  margin: 0.5em;
}

.header-row {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 0.5em;
  .header {
    font-size: 16px;
  }
}
input {
  width: 100%;
}
