<section class="container" id="home">
  <app-breadcrumb></app-breadcrumb>
  <h2>{{ title }}</h2>
  <div class="header-row">
    <h3 class="header">Search by...</h3>
    <span></span>
    <h3 class="header">What this search type does</h3>
  </div>
  <form [formGroup]="fg" *ngIf="$credentialTypeOptions | async as options">
    <app-advanced-search-row [label]="searchOptions[0].label" [helper]="searchOptions[0].helper">
      <input
        class="form-control"
        formControlName="text"
        [ngbTypeahead]="typeaheadSearch"
        (selectItem)="typeaheadSelected($event)"
      />
    </app-advanced-search-row>
    <app-advanced-search-row [label]="searchOptions[1].label" [helper]="searchOptions[1].helper">
      <app-select formControlName="type" [options]="options" [selected]="credTypeSelected"></app-select>
    </app-advanced-search-row>
    <app-advanced-search-row [label]="searchOptions[2].label" [helper]="searchOptions[2].helper">
      <app-select formControlName="archived" [options]="yesNoOptions" [selected]="yesNoSelected"></app-select>
    </app-advanced-search-row>
    <button type="submit" class="btn btn-primary" (click)="submit(fg.value)">
      Advanced Search
    </button>
  </form>
</section>
