<section id="search" class="container page-min-height" *ngIf="result$ | async as result">
  <app-breadcrumb></app-breadcrumb>

  <h1 class="page-title mt-4" id="contentStart" tabindex="-1">{{ 'search.title' | translate }}</h1>

  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3 mt-md-4">
      <div class="search-head">
        <label class="control-label" for="queryInput">{{ 'search.input-label' | translate }}</label>
        <div class="search-wrap">
          <search-input #searchInput (accepted)="updateQuery($event)" [loading]="result.loading"> </search-input>
        </div>
      </div>
    </div>
  </div>

  <app-search-result-list *ngIf="inited" [result]="result" [filters]="filters" [blankQuery]="blankQuery"
    (nav)="handleNav($event)">
  </app-search-result-list>
</section>