<div>
    <button type="button" class="names-toggle btn btn-link" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed">
        <span class="names-title">Other names/Identifiers</span>
    </button>
</div>
<div class="names-info" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card card-body">
        <ul class="list-unstyled">
            <li *ngFor="let name of topic.alternateNames">
                {{ 'name.' + name.type | translate }}: {{ name.text }}
            </li>
        </ul>
    </div>
</div>