<div [ngClass]="{ 'large-search': true, active: focused }">
  <input
    #queryInput
    type="text"
    id="queryInput"
    name="query"
    size="40"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [ngbTypeahead]="typeaheadSearch"
    [focusFirst]="false"
    (selectItem)="typeaheadSelected($event)"
  />
  <button #queryButton class="btn btn-primary">
    <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
    <span class="fa fa-search" *ngIf="!loading"></span>
  </button>
</div>
<div class="checkbox-wrapper">
  <div class="checkbox">
    <input type="checkbox" id="checkbox" name="check" [value]="inactive" />
    <label for="checkbox" (click)="setInactive(inactive)" tabindex="0" (keydown.space)="setInactive(inactive)"></label>
  </div>
  <label class="form-check-label" for="checkbox" style="margin-left: 1.8em;">Include Archived Records</label>
</div>
