<div [ngClass]="{ 'large-search': true, active: focused }">
  <input
    #queryInput
    type="text"
    id="queryInput"
    name="query"
    size="40"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [ngbTypeahead]="typeaheadSearch"
    (selectItem)="typeaheadSelected($event)"
    [focusFirst]="false"
  />
  <button #queryButton class="btn btn-primary">
    <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
    <span class="fa fa-search" *ngIf="!loading"></span>
  </button>
</div>
<div class="text-left">
  <a [ngClass]="{ 'text-white': tobTheme === 'bcgov' }" (click)="advancedSearch()" routerLinkActive="router-link-active"
    >Advanced Search</a
  >
</div>

<!--
<div [ngClass]="{ 'large-search': true, active: focused }">

  <input
    #queryInput
    type="text"
    id="queryInput"
    name="query"
    size="40"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [ngbTypeahead]="typeaheadSearch"
    [focusFirst]="false"
    (selectItem)="typeaheadSelected($event)"
  />

  <select
    class="custom-select inline-select"
    id="inlineFormCustomSelect"
    (change)="setCredentialType($event.target.value)"
    *ngIf="showInactive"
  >
    <ng-container *ngIf="$credentialTypeOptions | async as options">
      <option selected>Any credential type</option>
      <option *ngFor="let option of options" [value]="option.id">{{ option.description }}</option>
    </ng-container>
  </select>

  <button #queryButton class="btn btn-primary">
    <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
    <span class="fa fa-search" *ngIf="!loading"></span>
  </button>
</div>

<div class="checkbox-wrapper" *ngIf="showInactive">
  <div class="checkbox">
    <input type="checkbox" id="checkbox" name="check" [value]="inactive" tabindex="0" />
    <label
      for="checkbox"
      (click)="setInactive($event, inactive)"
      (keydown.space)="setInactive($event, inactive)"
      tabindex="0"
    ></label>
  </div>
  <label class="form-check-label" for="checkbox" style="margin-left: 1.8em;" (click)="setInactive($event, inactive)"
    >Include Archived Records</label
  >
</div>
-->
