<div [ngClass]="{ 'large-search': true, active: focused }">
  <input
    #queryInput
    type="text"
    id="queryInput"
    name="query"
    size="40"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [ngbTypeahead]="typeaheadSearch"
    [focusFirst]="false"
    (selectItem)="typeaheadSelected($event)"
  />
  <select class="custom-select" id="inlineFormCustomSelect" *ngIf="showInactive">
    <option selected>Any credential type</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <button #queryButton class="btn btn-primary">
    <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
    <span class="fa fa-search" *ngIf="!loading"></span>
  </button>
</div>
<div class="checkbox-wrapper" *ngIf="showInactive">
  <div class="checkbox">
    <input type="checkbox" id="checkbox" name="check" [value]="inactive" tabindex="0" />
    <label
      for="checkbox"
      (click)="setInactive($event, inactive)"
      (keydown.space)="setInactive($event, inactive)"
      tabindex="0"
    ></label>
  </div>
  <label class="form-check-label" for="checkbox" style="margin-left: 1.8em;" (click)="setInactive($event, inactive)"
    >Include Archived Records</label
  >
</div>
